<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
	props: ["data"],
});
</script>
<template>
	<div className="product">
		<img :src="data?.thumbnail" alt="product" />
		<p>{{ data?.title }}</p>
		<p>{{ data?.price }}</p>
	</div>
</template>
