<script lang="ts">
import { defineComponent, onMounted, onUnmounted, ref } from "vue";

import { DataResponse, ParamsGetProduct } from "./type";

import { getProductApi } from "./request/api/getProduct";

import Loading from "./components/Loading.vue";
import ProductCard from "./components/ProductCard.vue";

export default defineComponent({
	components: { Loading, ProductCard },
	setup() {
		const loading = ref(false);
		const number = ref(1);
		const searchText = ref("");
		const productInfo = ref<DataResponse>();

		const limit = 20;

		let timer: ReturnType<typeof setTimeout>;

		const handleGetProduct = async (data: ParamsGetProduct) => {
			loading.value = true;

			let newLimit = limit;

			if (productInfo?.value) {
				if (productInfo?.value?.products?.length < productInfo?.value?.total) {
					const quantity =
						productInfo?.value?.total - productInfo?.value?.products?.length;

					if (quantity >= limit) {
						newLimit = data?.number * limit;
					} else {
						newLimit = productInfo?.value?.total;
					}
				}
			}

			const res = await getProductApi({
				search: data?.searchText,
				limit: newLimit,
			});

			productInfo.value = res;

			loading.value = false;
		};

		const handleSearchProduct = async (e: Event) => {
			clearTimeout(timer);

			const target = e.target as HTMLInputElement;
			searchText.value = target.value;
			number.value = 1;

			timer = setTimeout(() => {
				handleGetProduct({ searchText: target.value, number: 1 });
			}, 350);
		};

		const handleScroll = (e: Event) => {
			const target = e.target as HTMLDivElement;
			const bottom =
				target.scrollHeight - target.scrollTop === target.clientHeight;

			if (bottom) {
				if (
					productInfo.value &&
					productInfo?.value?.products?.length < productInfo?.value?.total
				) {
					const newNumber = number.value + 1;
					number.value = newNumber;
					handleGetProduct({ searchText: searchText.value, number: newNumber });
				}
			}
		};

		onMounted(() => {
			handleGetProduct({ searchText: searchText.value, number: number.value });

			const appElement = document.getElementById("app-test");

			if (appElement) {
				appElement.addEventListener("scroll", handleScroll);
			}
		});

		onUnmounted(() => {
			const appElement = document.getElementById("app-test");
			appElement?.removeEventListener("scroll", handleScroll);
		});

		return {
			loading,
			productInfo,
			handleSearchProduct,
		};
	},
});
</script>

<template>
	<div id="app-test">
		<Loading v-if="loading" />
		<h1>Burningbros Test</h1>
		<input @input="handleSearchProduct" placeholder="SearchProduct" />
		<div className="product-list">
			<ProductCard
				v-for="(item, index) in productInfo?.products"
				:key="index"
				:data="item"
			/>
		</div>
	</div>
</template>
<style lang="scss">
@import "./css/main.scss";
</style>
